; -*- mode: clojure; -*-
; vim: filetype=clojure

(load-plugins)
(repl-server {:host "127.0.0.1" :port 1234})

(let [host "0.0.0.0"]
  (tcp-server {:host host :port 8086})
  (udp-server {:host host :port 8086})
  (ws-server {:host host :port 8087})
)

(require '[riemann.plugin.mbeans :as jmx])
(jmx/instrumentation {:interval 10 :service-name "jmx.memory.heap.used"})

(let [index (index)]
  (streams index))

